
body
{
	font-family: 'Libre Baskerville', serif;
	margin:0;
	padding: 0;
	color: white;
	text-align: center;
	
}
.background-video video
{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	display:inline-block;
	z-index: -1000;
	overflow: hidden;
	top:0;		
	left:0;
	background-repeat: no-repeat;
	background-size:100%;
	background-position:center;
	-webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
   

}
 #page_cover
{
	position: fixed;
	background: rgba(255,240,90,0.4);
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	z-index: -500;
	overflow: hidden;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-size:100%;
} 


#Title
{
	/*margin-top: 13%;*/
	/*background:rgba(30,144,255,0.6);*/
	padding-bottom: 0.5em;
	/*padding-top: 0.5em;	*/	
}
/*#container
{
	background: black;
	padding-top:1px;

}*/
#Title
{
	
	
}
#Title h1
{
	
	font-size: 90px;
	font-weight: bold;
	letter-spacing:8px;
	min-width: 1100px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: inherit;
	padding-top: 10px;
	color:white;
	margin-top: 15%;
}

#Title p
{
font-size: 40px;
	font-weight: bold;
	min-width: 1100px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: inherit;
	padding-top: 10px;
	color:white;
}

a 
{
	text-decoration: none;
	color: inherit;
}

#navigation_container
{
	position: relative;
	display:inline-block;
	/*background:rgb(30,144,255);*/
	background:rgb(255,240,90);
	min-width:100%;
	overflow: hidden;

}
#nav_bar
{
	/*margin-top: 7%;*/
	list-style: none;
	min-width: 1100px;
	float:right;
	
	
	
}
#logo
{
	position: absolute;
	float:left;
	font-size: 2em;
	top: 30%;
	margin-left:1em;

}
#nav_bar li
{
	display: inline-block;
	padding: 20px 0px 20px 0px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	min-width: 200px;
  	/*background: rgb(30,144,255);*/
  	background:rgb(255,240,90);
	padding-left:25px;
	padding-right:25px;
}

#nav_bar li:hover
{

	/*border:solid thick rgb(30,144,255);*/
	/*background:rgba(255,255,255,1.0);*/
	background:rgb(230,200,70);
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
	transition:.4s;
	/*-moz-transform: translate(-2px, -2px);
	-ms-transform: translate(-2px, -2px);
	-o-transform: translate(-2px, -2px);
	-webkit-transform: translate(-2px, -2px);
	transform: translate(-2px, -2px)*/
 
}
@keyframes up-bump {
  0% { margin-top: 2em; }
  50% { margin-top: 1.5em; }
  100% { margin-top: 2em; }
}